<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="My Test Task" verbose="1" >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="CheckCurrency">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.CheckCurrencyTest"/>
        </classes>
    </test>

    <test name="SiteSearch">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.SearchPageTest"/>
        </classes>
    </test>
</suite>